<div class="margen-arriba">
    <div class="row justify-content-md-center text-center">

        <div class="col col-3 bg-white border-tabla1 habilidades">
            <i class="bi bi-hdd-fill"></i>
            <h3>Intereses hacia Back-End</h3>

            <p>
                Intereses de formación para el desarrollo Back-End
            </p>

            <p class="text-primary cabecera">
                Stack: Java, JSP, Oracle, SpringBot
            </p>

            <p> Intereses:</p>

            <ul>
                <li>Java Serveless</li>
                <li>Java Brocker</li>
                <li>Java Portlet</li>
                <li>Java API</li>
            </ul>
        </div>

        <div class="col col-3 bg-white border-tabla2 habilidades">
            <i class="bi bi-code-slash"></i>
            <h3>Intereses hacia Front-End</h3>

            <p>
                Intereses de formación para el desarrollo Front-End
            </p>

            <p class="text-primary cabecera">
                Stack: Angular, React, SpringBot, Bootstrap
            </p>

            <p> Intereses:</p>

            <ul>
                <li>Uso de plantillas de SpringBot</li>
                <li>Integración de Angular en Java</li>
                <li>Integración de React en Java</li>
                <li>Integración de Bootstrap en Java</li>
            </ul>
        </div>

    </div>
</div>