@{
      ViewData["Title"] = "Contactanos";
}

<h1>Formulario de Contacto</h1>

<form asp-controller="Home" asp-action="Contacto">

    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>

        <input type="text" class="form-control" id="nombre"
            name="nombre" placeholder="Escribe tu nombre aqui"/>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>

        <input type="email" class="form-control" id="email"
            name="email" placeholder="Digita tu correo ej.: nombre@ejemplo.com"/>
    </div>

    <div class="mb-3">
        <label for="mensaje">Mensaje</label>

        <textarea class="form-control" id="mensaje" name="mensaje" rows="5"
            placeholder="Escribe tu mensaje aqui..."></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>

</form>