@{
    ViewData["Title"] = "Gracias";
}

<h1 class="alert alert-info display-3">
    Has llenado el formulario
</h1>

<p class="lead">
    Gracias por ponerte en contacto
</p>

<p class="lead">
    Te contestaré el mensaje lo más pronto posible
</p>

<div>
    <a asp-action="Index" asp-controller="Home" class="stretched-link text-danger">
        Volver a la Pagina Principal
    </a>
</div>